#cv-wrapper {
	color: black;
	margin-inline: auto;
	width: 210mm;
	height: 297mm;
	display: grid;
	grid-template-columns: 55mm 1fr;
	grid-template-rows: 55mm 1fr min-content;
	overflow: hidden;

	--image-bg: #b9d4ee;
	--header-bg: #d9eafd;
	--aside-bg: #e8f1fb;
	--accent: #4d7393;

	#language-switch {
		color: var(--text-color);
		position: fixed;
		top: 0.25rem;
		right: 0.75rem;
	}
}

header {
	position: relative !important;
	grid-column: span 2 / span 2;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: min-content min-content 1fr;
	padding: 0 !important;
	column-gap: 6mm;
	background: var(--header-bg);

	& > * {
		grid-column: 2 / span 1;
		z-index: 2;
	}

	&::after {
		pointer-events: none;
		position: absolute;
		content: '';
		background: var(--image-bg);
		width: 100%;
		height: calc(100% * sqrt(2));
		left: 0;
		transform: translate(calc(-50% - 2mm), -2mm) rotate(-45deg);
		transform-origin: 50% 0;
		z-index: 1;
	}

	h1 {
		margin-block: 4mm 0.5rem;
		font-size: 2rem;
		line-height: 1;
		font-weight: 700;
		letter-spacing: 0.025em;
		white-space: nowrap;
	}

	p {
		padding-inline-end: 3mm;
	}

	p + p {
		text-indent: 1rem;
	}
}

#cv-image-container {
	aspect-ratio: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
	grid-column: 1 / span 1;
	grid-row: 1 / -1;
	clip-path: polygon(2mm 2mm, 55mm 2mm, 55mm 85%, 85% 55mm, 2mm 55mm);

	img {
		position: absolute;
		object-fit: cover;
	}
}

#header-email {
	font-size: 1.25rem;
	margin-inline-start: 0.5rem;
	color: var(--accent);
}

aside {
	position: relative;
	grid-row: 2 / -1;
	padding-inline: 2mm;
	padding-block: 2mm;

	& > * {
		z-index: 2;
		position: relative;
	}

	&::before {
		pointer-events: none;
		position: absolute;
		content: '';
		width: 100%;
		height: 110%;
		bottom: calc(-2mm - (0.625rem * 3 * 1.1));
		left: 0;
		background: var(--aside-bg);
		z-index: 0;
	}

	#contact-list {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-auto-rows: min-content;
		column-gap: 0.4em;
		row-gap: 0.25em;
		margin-block-end: 0.5rem;

		li {
			display: grid;
			grid-column: span 2 / span 2;
			grid-template-columns: subgrid;
			align-items: center;
			white-space: nowrap;
		}
	}

	#contact-title {
		margin-block: 0.5rem;
	}

	#lang-list {
		margin-block-start: 0.5rem;

		li {
			display: flex;
			justify-content: space-between;

			span {
				font-weight: 500;
			}
		}
	}
}

main {
	width: 100%;
	grid-column: 2 / span 1;
	padding-inline: 3mm;
	padding-block: 3.5mm;
	background: white;

	section + section {
		margin-block-start: 1rem;
	}
}

#section-experience ul > li,
#section-skills li {
	list-style-type: disc;
	margin-left: 1.125rem;
}

#section-experience ul > li,
#section-skills li,
#section-technologies li {
	line-height: 1.4;
}

#section-experience ul > li + li,
#section-skills li + li,
#section-technologies li + li {
	margin-block-start: 0.2rem;
}

h1 {
	font-size: 1.375rem;
	font-weight: 700;
	margin-block-end: 0.2rem;
}

#section-experience {
	h1 {
		font-size: 0.875rem;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 0.025em;
		color: var(--accent);
		margin-block-end: 0.125rem;
	}

	h2 {
		font-size: 1.375rem;
		font-weight: 700;
		margin-block-end: 0.1rem;

		span {
			font-weight: 400;
			color: var(--accent);
		}
	}

	ol > li + li {
		margin-top: 0.25rem;
	}
}

#section-technologies {
	& > p:last-child {
		margin-block-start: 1rem;
	}
}

footer {
	grid-column: 1 / span 2;
	font-size: 0.625rem;
	color: hsl(0 0% 30%);
	padding-bottom: 2mm;
	padding-inline: 3mm;
	line-height: 1.1;
	text-align: justify;
	background: white;

	& > * {
		position: relative;
		z-index: 2;
	}
}

@media print {
	body::after {
		display: none;
	}

	#language-switch {
		display: none !important;
	}
}
