@layer skin {
	a,
	.v-copiable-text {
		transition: text-decoration-thickness 50ms linear;
		color: var(--clr-rainbow);
		text-decoration-line: underline;
		text-decoration-thickness: 0.1em;
		text-decoration-color: var(--clr-rainbow);
		text-decoration-skip-ink: auto;

		&:hover,
		&:focus-visible {
			outline: none;
			text-decoration-thickness: 0.25em;
			text-decoration-color: var(--clr-rainbow-next);
			text-decoration-skip-ink: none;
		}
	}

	.v-copiable-text {
		text-decoration-style: dashed;

		&:hover,
		&:focus-visible {
			text-decoration-thickness: 0.1em;
			text-decoration-skip-ink: auto;
		}

		.copy {
			color: var(--clr-page-text);
		}
	}

	main {
		max-width: var(--size-page-max-width);
		margin-inline: auto;
	}

	#name-header {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: var(--fluid-40-160);
		min-height: 16rem;
		font-weight: 700;
		line-height: 1;
		cursor: default;
		--size-me-tokens-height: 2.5rem;

		@media (orientation: landscape) {
			min-height: min(calc(100vh - var(--size-me-tokens-height)), 90rem);
			max-height: 90rem;
		}

		@media (max-width: 539px) {
			--size-me-tokens-height: calc(var(--fluid-20-32) * 3);
		}
	}

	#name-header-text {
		display: inline-block;
		position: relative;
	}

	#name-header-canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		pointer-events: none;
	}

	#me-tokens {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		column-gap: 2.5rem;
		font-size: var(--fluid-20-32);
		padding-block-end: 0.5rem;
		line-height: 1;
		color: light-dark(#44403c, #d4d4d4);

		:nth-child(2) {
			position: relative;
		}

		:nth-child(2)::before,
		:nth-child(2)::after {
			width: min-content;
			pointer-events: none;
			position: absolute;
			top: 50%;
		}

		:nth-child(2)::before {
			left: -1.25rem;
			transform: translate(-50%, -50%);
		}

		:nth-child(2)::after {
			right: -1.25rem;
			transform: translate(50%, -50%);
		}

		@media (min-width: 540px) {
			flex-direction: row;

			:nth-child(2)::before,
			:nth-child(2)::after {
				content: '\2022';
			}
		}
	}

	#stuff-header {
		text-align: center;
		margin-block: max(var(--fluid-24-48), 10vh) 2.5rem;
	}

	#stuff-header-text {
		position: relative;
		display: inline-block;
		line-height: 1;
		font-size: var(--fluid-32-64);
		font-weight: 700;
		letter-spacing: 0.025em;
		color: var(--clr-page-bg);
	}

	#stuff-header-brush {
		z-index: -1;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -47%);
		width: auto;
		height: 120%;
	}

	.stuff-header-star {
		position: absolute;
		width: 50px;
		height: auto;
	}

	#stuff-list {
		h3 {
			font-size: 1.75rem;
			font-weight: 500;
			padding-block-start: 1.25rem;
			margin-block-end: 0.5rem;
		}

		p {
			font-size: 1.25rem;
			line-height: 1.25;
			padding-block-end: 1.25rem;
		}

		& > * {
			&:nth-child(odd) {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					transform: translate(0%, -50%);
					height: 100%;
					width: 100vmax;
					background: light-dark(#e0e0e0, #191919);
					z-index: -1;
					left: -1.5rem;
					border-radius: 0.5rem;
				}
			}

			&:nth-child(4n + 3)::before {
				left: auto;
				right: -1.5rem;
			}

			&:nth-child(even) {
				text-align: end;

				p {
					text-align: end;
					margin-inline-start: auto;
				}
			}

			&:nth-child(1) p {
				max-width: 50ch;
			}

			&:nth-child(4) p {
				max-width: 45ch;
			}
		}
	}

	#stuff-note {
		background: light-dark(#e0e0e0, #191919);
		border-radius: 0.5rem;
		padding: 1rem 1.5rem;
		max-width: 60rem;
		margin-block-start: 2rem;
		margin-inline: auto;
		line-height: 1.4;

		p + p {
			margin-block-start: 0.375rem;
		}

		@supports (background: hsl(from white h s l / 0.15)) {
			background: hsl(from var(--clr-rainbow) h s l / 0.15);
		}
	}
}
