@layer skin {
	a:not(.no-underline),
	.v-copiable-text {
		transition: text-decoration-thickness 50ms linear;
		color: var(--clr-rainbow);
		text-decoration-line: underline;
		text-decoration-thickness: 0.1em;
		text-decoration-color: var(--clr-rainbow);
		text-decoration-skip-ink: auto;

		&:hover,
		&:focus-visible {
			outline: none;
			text-decoration-thickness: 0.5em;
			text-decoration-color: var(--clr-rainbow-next);
			text-decoration-skip-ink: none;
		}

		&::selection {
			color: var(--clr-page-text);
		}
	}

	.v-copiable-text {
		text-decoration-style: dashed;

		&:hover,
		&:focus-visible {
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
		}

		.copy {
			color: var(--clr-page-text);
		}
	}

	#language-switch a {
		color: currentColor;
		text-decoration-line: none;

		&:hover,
		&:focus-visible {
			text-decoration-line: underline;
		}

		&.router-link-active {
			color: var(--clr-rainbow);
		}
	}

	.section-anchor {
		opacity: 0;
		color: inherit !important;
		font-size: var(--fluid-20-32);
		pointer-events: none;
		position: absolute;
		text-decoration-line: none !important;
		top: 50%;
		left: 0%;
		transform: translate(calc(-100% - 0.2em), -45%);
		line-height: 1;

		&:hover {
			color: var(--clr-rainbow) !important;
		}

		&:focus-visible {
			opacity: 1;
			pointer-events: auto;
			outline: var(--outline-size) var(--outline-style) var(--clr-page-text) !important;
			outline-offset: var(--outline-offset, var(--outline-size));
		}
	}

	div:has(.sneaky-section-anchor):is(:focus-within, :hover) .sneaky-section-anchor {
		opacity: 1;
	}

	#name-header {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: var(--fluid-60-160);
		height: min(calc(100vh - var(--size-me-tokens-height)), 90rem);
		font-weight: 700;
		line-height: 1;
		cursor: default;
		--size-me-tokens-height: 2.5rem;

		@media (orientation: landscape) {
			min-height: 30rem;
		}

		@media (width < 33.75rem) {
			--size-me-tokens-height: calc(var(--fluid-20-32) * 3);
		}
	}

	#name-header-text {
		display: inline-block;
		position: relative;
	}

	#name-header-canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		pointer-events: none;
	}

	#me-tokens {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		column-gap: 2.5rem;
		font-size: var(--fluid-20-32);
		padding-block-end: 0.5rem;
		line-height: 1;
		color: light-dark(#44403c, #d4d4d4);

		:nth-child(2) {
			position: relative;
		}

		:nth-child(2)::before,
		:nth-child(2)::after {
			width: min-content;
			pointer-events: none;
			position: absolute;
			top: 50%;
		}

		:nth-child(2)::before {
			left: -1.25rem;
			transform: translate(-50%, -50%);
		}

		:nth-child(2)::after {
			right: -1.25rem;
			transform: translate(50%, -50%);
		}

		@media (width >= 33.75rem) {
			flex-direction: row;

			:nth-child(2)::before,
			:nth-child(2)::after {
				content: '\2022';
			}
		}
	}

	#stuff {
		position: relative;
		text-align: center;
		margin-block: var(--fluid-24-48) var(--fluid-32-56);

		&:hover .section-anchor {
			pointer-events: auto;
			opacity: 1;
		}
	}

	#stuff-header-text {
		position: relative;
		display: inline-block;
		line-height: 1;
		font-size: var(--fluid-40-64);
		font-weight: 700;
		letter-spacing: 0.025em;
		color: var(--clr-page-bg);
		text-shadow:
			0.02em 0.02em 0 var(--clr-page-text),
			-0.02em -0.02em 0 var(--clr-page-text),
			-0.02em 0.02em 0 var(--clr-page-text),
			0.02em -0.02em 0 var(--clr-page-text),
			0 0.02em 0 var(--clr-page-text),
			0 -0.02em 0 var(--clr-page-text),
			-0.02em 0 0 var(--clr-page-text),
			0.02em 0 0 var(--clr-page-text);

		@supports (-webkit-text-stroke: var(--clr-page-text) 0.05em) and (paint-order: stroke fill) {
			-webkit-text-stroke: var(--clr-page-text) 0.05em;
			paint-order: stroke fill;
			text-shadow: none;
		}
	}

	#stuff-header-brush {
		z-index: -1;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -47%);
		width: auto;
		height: 120%;
	}

	#stuff-list {
		display: grid;
		grid-column: page;
		grid-template-columns: subgrid;

		& > * {
			--size-stuff-item-px: var(--fluid-16-32);
			display: grid;
			grid-auto-rows: min-content;
			grid-template-columns: 1;
			grid-column: content;
			grid-template-areas:
				'img'
				'header'
				'description';
			padding-block: max(var(--fluid-16-32), 5vi);
			padding-inline: var(--size-stuff-item-px);
			margin-block-end: 2rem;
			border-radius: 0.75rem;

			&:last-child {
				margin-block-end: 0;
			}

			&:nth-child(odd) {
				background: light-dark(#e0e0e0, #141414);
			}

			&:nth-child(even) {
				padding-block: 0.5rem;
			}

			@media (width >= 38rem) {
				--size-stuff-item-px: 1.5rem;
				display: grid;
				grid-auto-flow: column;
				padding-block: 1.5rem;
				align-items: center;
				grid-template-rows: min-content min-content;
				grid-template-columns: clamp(10rem, 13vi, 15rem) 1fr;
				grid-template-areas:
					'img header'
					'img description';
				row-gap: 0.75rem;
				column-gap: 1.5rem;

				&:nth-child(odd) {
					border-radius: 0 0.75rem 0.75rem 0;
					grid-column: page-start / content-end;
					padding-inline-start: calc(var(--size-stuff-item-px) + var(--size-page-computed-px));
				}

				&:nth-child(4n + 3) {
					border-radius: 0.75rem 0 0 0.75rem;
					grid-column: content / page-end;
					padding-inline: var(--size-stuff-item-px) calc(var(--size-stuff-item-px) + var(--size-page-computed-px));
				}

				&:nth-child(even) {
					justify-items: end;
					text-align: end;
					grid-template-columns: 1fr clamp(10rem, 13vi, 15rem);
					grid-template-areas:
						'header img'
						'description img';

					p {
						text-align: end;
					}
				}

				p {
					max-width: var(--size-stuff-max-w, unset);
				}
			}
		}

		img {
			display: block;
			height: 100%;
			max-width: 100%;
			object-fit: cover;
			grid-area: img;
			border-radius: 0.5rem;
		}

		a {
			--outline-size: 3px;
			position: relative;
			display: block;
			height: 10rem;
			width: min(100%, 20rem);
			grid-area: img;
			border-radius: 0.5rem;
			overflow: hidden;
			margin-inline: auto;
			object-fit: cover;
			text-align: start;
			font-size: 0.875em;

			@media (width >= 38rem) {
				margin-inline: unset;
			}

			&::after,
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
			}

			&::before {
				width: 1.25rem;
				height: 1.25rem;
				border-end-start-radius: 0.375rem;
				background-color: var(--clr-rainbow);
			}

			&:hover::before,
			&:focus-visible::before {
				background-color: var(--clr-rainbow-next);
			}

			&::after {
				width: 1rem;
				height: 1rem;
				margin: 0.125rem;
				content: '';
				background-color: var(--clr-page-bg);
				mask-size: 100% 100%;
				mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='currentColor' d='M117.18 188.74a12 12 0 0 1 0 17l-5.12 5.12A58.26 58.26 0 0 1 70.6 228a58.62 58.62 0 0 1-41.46-100.08l34.75-34.75a58.64 58.64 0 0 1 98.56 28.11a12 12 0 1 1-23.37 5.44a34.65 34.65 0 0 0-58.22-16.58l-34.75 34.75A34.62 34.62 0 0 0 70.57 204a34.4 34.4 0 0 0 24.49-10.14l5.11-5.12a12 12 0 0 1 17.01 0M226.83 45.17a58.65 58.65 0 0 0-82.93 0l-5.11 5.11a12 12 0 0 0 17 17l5.12-5.12a34.63 34.63 0 1 1 49 49l-34.81 34.7A34.4 34.4 0 0 1 150.61 156a34.63 34.63 0 0 1-33.69-26.72a12 12 0 0 0-23.38 5.44A58.64 58.64 0 0 0 150.56 180h.05a58.28 58.28 0 0 0 41.47-17.17l34.75-34.75a58.62 58.62 0 0 0 0-82.91'/%3E%3C/svg%3E")
					no-repeat;
			}
		}

		h3 {
			font-size: 1.75rem;
			font-weight: 500;
			margin-block: 1.25rem 0.75rem;
			grid-area: header;
			align-self: end;
			text-align: center;
			line-height: 1;

			@media (width >= 38rem) {
				margin-block: 0;
				text-align: unset;
			}
		}

		p {
			font-size: 1.25rem;
			line-height: 1.25;
			grid-area: description;
			color: var(--clr-page-text-light);
			align-self: start;
			text-align: center;
			text-wrap: pretty;

			@media (width >= 38rem) {
				padding-inline: 0;
				text-align: start;
			}
		}
	}

	#stuff-note {
		background: light-dark(#e0e0e0, #191919);
		border-radius: 0.5rem;
		padding: 1.25rem max(var(--fluid-16-32), 5vi);
		width: clamp(min(34rem, 100%), 75%, 84ch);
		margin-block-start: 2rem;
		margin-inline: auto;
		line-height: 1.4;

		@media (width >= 38rem) {
			margin-block-start: clamp(2rem, 9vb, 4rem);
			padding: 1.5rem;
		}

		@supports (background: hsl(from white h s l / 0.05)) {
			background: hsl(from var(--clr-rainbow) h s l / 0.05);
		}

		h3 {
			font-size: 1.375rem;
			text-align: center;
			margin-block-end: 0.875rem;
		}

		p + p {
			margin-block-start: 0.375rem;
		}
	}

	.experience-path {
		stroke-width: 4;
		stroke-dasharray: 12, 170; /* 156 + 14, 7 colors +2 for each */
		stroke-dashoffset: var(--offset);
		animation: experience-path 8s linear infinite;

		@media (prefers-reduced-motion: reduce) {
			animation: experience-path 8s steps(7) infinite;
		}
	}

	@keyframes experience-path {
		from {
			stroke-dashoffset: var(--offset);
		}
		to {
			stroke-dashoffset: var(--animation-offset);
		}
	}

	#experience {
		font-size: 4rem;
		font-weight: 700;
		color: var(--clr-page-bg);
		position: relative;
		height: calc(1.25 * var(--fluid-40-64));
		margin-block: var(--fluid-32-56) var(--fluid-32-48);
		text-align: center;
		text-shadow:
			0.02em 0.02em 0 var(--clr-page-text),
			-0.02em -0.02em 0 var(--clr-page-text),
			-0.02em 0.02em 0 var(--clr-page-text),
			0.02em -0.02em 0 var(--clr-page-text),
			0 0.02em 0 var(--clr-page-text),
			0 -0.02em 0 var(--clr-page-text),
			-0.02em 0 0 var(--clr-page-text),
			0.02em 0 0 var(--clr-page-text);

		svg {
			width: 100%;
			height: 100%;
			margin-inline: auto;
		}

		.section-anchor {
			transform: translate(calc(-110% - 0.2em), -20%);
		}

		svg + .section-anchor {
			transform: translate(calc(215% - 0.2em), -45%);

			:root[lang='pl-PL'] & {
				transform: translate(calc(-25% - 0.2em), -45%);
			}
		}

		&:hover .section-anchor {
			pointer-events: auto;
			opacity: 1;
		}
	}

	#experience-header-text {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: max-content;
		display: inline-block;

		> span {
			font-size: var(--fluid-40-64);
			font-weight: inherit;
		}
	}

	#experience-list {
		background: light-dark(#e0e0e0, #191919);
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-rows: repeat(2, minmax(0, 1fr));
		margin-inline: auto;
		width: fit-content;

		@supports (background: hsl(from white h s l / 0.05)) {
			background: hsl(from var(--clr-rainbow) h s l / 0.05);
		}

		span,
		button {
			display: block;
		}
	}

	#experience-content {
		@media (width >= 64rem) {
			display: grid;
			grid-column: page;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			grid-auto-flow: column;
			grid-template-rows: max-content max-content max-content;

			> :nth-child(-n + 3) {
				padding-inline-start: var(--size-page-computed-px);
			}

			> :nth-child(n + 4) {
				padding-inline-end: var(--size-page-computed-px);
			}

			h3 {
				text-align: center;
			}
		}
	}
}
