/* https://github.com/unocss/unocss/blob/main/docs/.vitepress/theme/rainbow.css */
@keyframes rainbow {
	0% {
		--color: #00a98e;
		--color-light: #4ad1b4;
		--color-lighter: #78fadc;
		--color-dark: #008269;
		--color-darker: #005d47;
		--color-next: #009ff7;
	}
	1.25% {
		--color: #00a996;
		--color-light: #4bd1bd;
		--color-lighter: #79fbe5;
		--color-dark: #008371;
		--color-darker: #005e4f;
		--color-next: #009dfa;
	}
	2.5% {
		--color: #00a99f;
		--color-light: #4cd1c6;
		--color-lighter: #7afbee;
		--color-dark: #00837a;
		--color-darker: #005e56;
		--color-next: #009bfc;
	}
	3.75% {
		--color: #00a9a7;
		--color-light: #4dd1cf;
		--color-lighter: #7bfbf8;
		--color-dark: #008382;
		--color-darker: #005e5e;
		--color-next: #0098fd;
	}
	5% {
		--color: #00a9b0;
		--color-light: #4ed1d7;
		--color-lighter: #7dfaff;
		--color-dark: #00838a;
		--color-darker: #005e65;
		--color-next: #0096fd;
	}
	6.25% {
		--color: #00a9b8;
		--color-light: #4fd1e0;
		--color-lighter: #7efaff;
		--color-dark: #008391;
		--color-darker: #005e6d;
		--color-next: #0093fd;
	}
	7.5% {
		--color: #00a9c0;
		--color-light: #50d0e8;
		--color-lighter: #7ffaff;
		--color-dark: #008399;
		--color-darker: #005e74;
		--color-next: #2e90fc;
	}
	8.75% {
		--color: #00a8c7;
		--color-light: #51d0f0;
		--color-lighter: #81f9ff;
		--color-dark: #0082a0;
		--color-darker: #005e7b;
		--color-next: #4d8dfa;
	}
	10% {
		--color: #00a8cf;
		--color-light: #52cff7;
		--color-lighter: #82f8ff;
		--color-dark: #0082a7;
		--color-darker: #005e81;
		--color-next: #638af8;
	}
	11.25% {
		--color: #00a7d5;
		--color-light: #53cfff;
		--color-lighter: #84f8ff;
		--color-dark: #0081ae;
		--color-darker: #005d87;
		--color-next: #7587f5;
	}
	12.5% {
		--color: #00a6dc;
		--color-light: #55ceff;
		--color-lighter: #85f7ff;
		--color-dark: #0081b4;
		--color-darker: #005d8d;
		--color-next: #8583f1;
	}
	13.75% {
		--color: #00a6e2;
		--color-light: #56cdff;
		--color-lighter: #87f6ff;
		--color-dark: #0080b9;
		--color-darker: #005c93;
		--color-next: #9280ed;
	}
	15% {
		--color: #00a4e7;
		--color-light: #57ccff;
		--color-lighter: #88f4ff;
		--color-dark: #007fbf;
		--color-darker: #005b98;
		--color-next: #9f7ce9;
	}
	16.25% {
		--color: #00a3ec;
		--color-light: #58caff;
		--color-lighter: #89f3ff;
		--color-dark: #007ec3;
		--color-darker: #005b9c;
		--color-next: #aa78e3;
	}
	17.5% {
		--color: #00a2f1;
		--color-light: #58c9ff;
		--color-lighter: #8af1ff;
		--color-dark: #007dc8;
		--color-darker: #0059a0;
		--color-next: #b574dd;
	}
	18.75% {
		--color: #00a0f4;
		--color-light: #59c7ff;
		--color-lighter: #8bf0ff;
		--color-dark: #007bcb;
		--color-darker: #0058a3;
		--color-next: #be71d7;
	}
	20% {
		--color: #009ff7;
		--color-light: #5ac5ff;
		--color-lighter: #8ceeff;
		--color-dark: #007ace;
		--color-darker: #0057a6;
		--color-next: #c76dd1;
	}
	21.25% {
		--color: #009dfa;
		--color-light: #5ac3ff;
		--color-lighter: #8decff;
		--color-dark: #0078d0;
		--color-darker: #0055a8;
		--color-next: #cf69c9;
	}
	22.5% {
		--color: #009bfc;
		--color-light: #5bc1ff;
		--color-lighter: #8de9ff;
		--color-dark: #0076d2;
		--color-darker: #0053aa;
		--color-next: #d566c2;
	}
	23.75% {
		--color: #0098fd;
		--color-light: #5bbfff;
		--color-lighter: #8ee7ff;
		--color-dark: #0074d3;
		--color-darker: #0051ab;
		--color-next: #dc63ba;
	}
	25% {
		--color: #0096fd;
		--color-light: #5bbcff;
		--color-lighter: #8ee4ff;
		--color-dark: #0071d4;
		--color-darker: #004fab;
		--color-next: #e160b3;
	}
	26.25% {
		--color: #0093fd;
		--color-light: #5bb9ff;
		--color-lighter: #8ee1ff;
		--color-dark: #006fd3;
		--color-darker: #004dab;
		--color-next: #e65eab;
	}
	27.5% {
		--color: #2e90fc;
		--color-light: #69b6ff;
		--color-lighter: #99deff;
		--color-dark: #006cd2;
		--color-darker: #004baa;
		--color-next: #e95ca2;
	}
	28.75% {
		--color: #4d8dfa;
		--color-light: #7eb3ff;
		--color-lighter: #abdbff;
		--color-dark: #0069d1;
		--color-darker: #0048a9;
		--color-next: #ed5a9a;
	}
	30% {
		--color: #638af8;
		--color-light: #8fb0ff;
		--color-lighter: #bbd7ff;
		--color-dark: #3066cf;
		--color-darker: #0045a7;
		--color-next: #ef5992;
	}
	31.25% {
		--color: #7587f5;
		--color-light: #9fadff;
		--color-lighter: #cad4ff;
		--color-dark: #4963cc;
		--color-darker: #0941a4;
		--color-next: #f15989;
	}
	32.5% {
		--color: #8583f1;
		--color-light: #aea9ff;
		--color-lighter: #d8d1ff;
		--color-dark: #5b5fc8;
		--color-darker: #2e3ea1;
		--color-next: #f25981;
	}
	33.75% {
		--color: #9280ed;
		--color-light: #bca6ff;
		--color-lighter: #e6cdff;
		--color-dark: #6a5cc4;
		--color-darker: #413a9d;
		--color-next: #f25a79;
	}
	35% {
		--color: #9f7ce9;
		--color-light: #c8a2ff;
		--color-lighter: #f2c9ff;
		--color-dark: #7758c0;
		--color-darker: #503598;
		--color-next: #f25c71;
	}
	36.25% {
		--color: #aa78e3;
		--color-light: #d39eff;
		--color-lighter: #fec6ff;
		--color-dark: #8354bb;
		--color-darker: #5c3193;
		--color-next: #f15e69;
	}
	37.5% {
		--color: #b574dd;
		--color-light: #de9bff;
		--color-lighter: #ffc2ff;
		--color-dark: #8d50b5;
		--color-darker: #662c8e;
		--color-next: #ef6061;
	}
	38.75% {
		--color: #be71d7;
		--color-light: #e897ff;
		--color-lighter: #ffbfff;
		--color-dark: #964baf;
		--color-darker: #6f2688;
		--color-next: #ed635a;
	}
	40% {
		--color: #c76dd1;
		--color-light: #f194fa;
		--color-lighter: #ffbcff;
		--color-dark: #9e47a9;
		--color-darker: #772082;
		--color-next: #eb6552;
	}
	41.25% {
		--color: #cf69c9;
		--color-light: #f991f2;
		--color-lighter: #ffb9ff;
		--color-dark: #a643a2;
		--color-darker: #7e197c;
		--color-next: #e8694b;
	}
	42.5% {
		--color: #d566c2;
		--color-light: #ff8deb;
		--color-lighter: #ffb6ff;
		--color-dark: #ac3f9b;
		--color-darker: #841075;
		--color-next: #e46c44;
	}
	43.75% {
		--color: #dc63ba;
		--color-light: #ff8be3;
		--color-lighter: #ffb3ff;
		--color-dark: #b23b94;
		--color-darker: #89046f;
		--color-next: #e06f3d;
	}
	45% {
		--color: #e160b3;
		--color-light: #ff88db;
		--color-lighter: #ffb1ff;
		--color-dark: #b7378c;
		--color-darker: #8d0068;
		--color-next: #db7336;
	}
	46.25% {
		--color: #e65eab;
		--color-light: #ff86d2;
		--color-lighter: #ffaffb;
		--color-dark: #bb3485;
		--color-darker: #910060;
		--color-next: #d77630;
	}
	47.5% {
		--color: #e95ca2;
		--color-light: #ff84ca;
		--color-lighter: #ffadf2;
		--color-dark: #be317d;
		--color-darker: #940059;
		--color-next: #d17a2a;
	}
	48.75% {
		--color: #ed5a9a;
		--color-light: #ff83c1;
		--color-lighter: #fface9;
		--color-dark: #c12f75;
		--color-darker: #970052;
		--color-next: #cc7d24;
	}
	50% {
		--color: #ef5992;
		--color-light: #ff82b8;
		--color-lighter: #ffabe0;
		--color-dark: #c32d6d;
		--color-darker: #98004b;
		--color-next: #c6811e;
	}
	51.25% {
		--color: #f15989;
		--color-light: #ff82af;
		--color-lighter: #ffabd7;
		--color-dark: #c52d65;
		--color-darker: #9a0043;
		--color-next: #bf8418;
	}
	52.5% {
		--color: #f25981;
		--color-light: #ff82a7;
		--color-lighter: #ffabce;
		--color-dark: #c52e5e;
		--color-darker: #9a003c;
		--color-next: #b98713;
	}
	53.75% {
		--color: #f25a79;
		--color-light: #ff839e;
		--color-lighter: #ffacc5;
		--color-dark: #c62f56;
		--color-darker: #9a0035;
		--color-next: #b28a0f;
	}
	55% {
		--color: #f25c71;
		--color-light: #ff8496;
		--color-lighter: #ffadbc;
		--color-dark: #c5314e;
		--color-darker: #99002e;
		--color-next: #ab8d0c;
	}
	56.25% {
		--color: #f15e69;
		--color-light: #ff868d;
		--color-lighter: #ffaeb4;
		--color-dark: #c43447;
		--color-darker: #980027;
		--color-next: #a3900b;
	}
	57.5% {
		--color: #ef6061;
		--color-light: #ff8885;
		--color-lighter: #ffb0ab;
		--color-dark: #c3373f;
		--color-darker: #970020;
		--color-next: #9c920d;
	}
	58.75% {
		--color: #ed635a;
		--color-light: #ff8a7d;
		--color-lighter: #ffb2a3;
		--color-dark: #c13b38;
		--color-darker: #940619;
		--color-next: #949510;
	}
	60% {
		--color: #eb6552;
		--color-light: #ff8d76;
		--color-lighter: #ffb59b;
		--color-dark: #be3e31;
		--color-darker: #921111;
		--color-next: #8b9715;
	}
	61.25% {
		--color: #e8694b;
		--color-light: #ff8f6e;
		--color-lighter: #ffb794;
		--color-dark: #bb4229;
		--color-darker: #8f1908;
		--color-next: #83991b;
	}
	62.5% {
		--color: #e46c44;
		--color-light: #ff9367;
		--color-lighter: #ffba8c;
		--color-dark: #b74622;
		--color-darker: #8c1f00;
		--color-next: #7a9b21;
	}
	63.75% {
		--color: #e06f3d;
		--color-light: #ff9661;
		--color-lighter: #ffbd86;
		--color-dark: #b44a1a;
		--color-darker: #882500;
		--color-next: #719d27;
	}
	65% {
		--color: #db7336;
		--color-light: #ff995a;
		--color-lighter: #ffc17f;
		--color-dark: #af4e11;
		--color-darker: #842a00;
		--color-next: #679e2e;
	}
	66.25% {
		--color: #d77630;
		--color-light: #ff9c54;
		--color-lighter: #ffc47a;
		--color-dark: #ab5206;
		--color-darker: #802f00;
		--color-next: #5da035;
	}
	67.5% {
		--color: #d17a2a;
		--color-light: #fea04f;
		--color-lighter: #ffc774;
		--color-dark: #a55600;
		--color-darker: #7b3300;
		--color-next: #51a13c;
	}
	68.75% {
		--color: #cc7d24;
		--color-light: #f8a34a;
		--color-lighter: #ffca70;
		--color-dark: #a05900;
		--color-darker: #773700;
		--color-next: #44a244;
	}
	70% {
		--color: #c6811e;
		--color-light: #f2a646;
		--color-lighter: #ffce6c;
		--color-dark: #9b5d00;
		--color-darker: #713b00;
		--color-next: #34a44b;
	}
	71.25% {
		--color: #bf8418;
		--color-light: #ebaa42;
		--color-lighter: #ffd168;
		--color-dark: #956000;
		--color-darker: #6c3e00;
		--color-next: #1ba553;
	}
	72.5% {
		--color: #b98713;
		--color-light: #e4ad3f;
		--color-lighter: #ffd466;
		--color-dark: #8e6300;
		--color-darker: #674100;
		--color-next: #00a65b;
	}
	73.75% {
		--color: #b28a0f;
		--color-light: #ddb03d;
		--color-lighter: #ffd764;
		--color-dark: #886600;
		--color-darker: #614400;
		--color-next: #00a663;
	}
	75% {
		--color: #ab8d0c;
		--color-light: #d5b33c;
		--color-lighter: #ffda63;
		--color-dark: #816900;
		--color-darker: #5b4700;
		--color-next: #00a76c;
	}
	76.25% {
		--color: #a3900b;
		--color-light: #cdb63c;
		--color-lighter: #f8dd63;
		--color-dark: #7a6b00;
		--color-darker: #554900;
		--color-next: #00a874;
	}
	77.5% {
		--color: #9c920d;
		--color-light: #c5b83d;
		--color-lighter: #f0e064;
		--color-dark: #736e00;
		--color-darker: #4e4b00;
		--color-next: #00a87d;
	}
	78.75% {
		--color: #949510;
		--color-light: #bdbb3e;
		--color-lighter: #e7e366;
		--color-dark: #6c7000;
		--color-darker: #474d00;
		--color-next: #00a985;
	}
	80% {
		--color: #8b9715;
		--color-light: #b4bd41;
		--color-lighter: #dee668;
		--color-dark: #647200;
		--color-darker: #404f00;
		--color-next: #00a98e;
	}
	81.25% {
		--color: #83991b;
		--color-light: #abc045;
		--color-lighter: #d4e86c;
		--color-dark: #5c7400;
		--color-darker: #385100;
		--color-next: #00a996;
	}
	82.5% {
		--color: #7a9b21;
		--color-light: #a2c249;
		--color-lighter: #cbea70;
		--color-dark: #537600;
		--color-darker: #2f5200;
		--color-next: #00a99f;
	}
	83.75% {
		--color: #719d27;
		--color-light: #98c44e;
		--color-lighter: #c1ec75;
		--color-dark: #4a7700;
		--color-darker: #255300;
		--color-next: #00a9a7;
	}
	85% {
		--color: #679e2e;
		--color-light: #8ec654;
		--color-lighter: #b7ee7a;
		--color-dark: #407900;
		--color-darker: #185500;
		--color-next: #00a9b0;
	}
	86.25% {
		--color: #5da035;
		--color-light: #84c75a;
		--color-lighter: #acf080;
		--color-dark: #357a0a;
		--color-darker: #015600;
		--color-next: #00a9b8;
	}
	87.5% {
		--color: #51a13c;
		--color-light: #79c961;
		--color-lighter: #a1f287;
		--color-dark: #277b16;
		--color-darker: #005700;
		--color-next: #00a9c0;
	}
	88.75% {
		--color: #44a244;
		--color-light: #6dca68;
		--color-lighter: #96f48e;
		--color-dark: #117c1f;
		--color-darker: #005700;
		--color-next: #00a8c7;
	}
	90% {
		--color: #34a44b;
		--color-light: #60cc70;
		--color-lighter: #89f595;
		--color-dark: #007d28;
		--color-darker: #005801;
		--color-next: #00a8cf;
	}
	91.25% {
		--color: #1ba553;
		--color-light: #51cd77;
		--color-lighter: #7cf69d;
		--color-dark: #007e30;
		--color-darker: #00590d;
		--color-next: #00a7d5;
	}
	92.5% {
		--color: #00a65b;
		--color-light: #48ce80;
		--color-lighter: #75f7a6;
		--color-dark: #007f38;
		--color-darker: #005917;
		--color-next: #00a6dc;
	}
	93.75% {
		--color: #00a663;
		--color-light: #48cf88;
		--color-lighter: #75f8ae;
		--color-dark: #008040;
		--color-darker: #005a20;
		--color-next: #00a6e2;
	}
	95% {
		--color: #00a76c;
		--color-light: #49cf91;
		--color-lighter: #76f9b7;
		--color-dark: #008049;
		--color-darker: #005b28;
		--color-next: #00a4e7;
	}
	96.25% {
		--color: #00a874;
		--color-light: #49d099;
		--color-lighter: #76f9c0;
		--color-dark: #008151;
		--color-darker: #005c30;
		--color-next: #00a3ec;
	}
	97.5% {
		--color: #00a87d;
		--color-light: #49d0a2;
		--color-lighter: #77fac9;
		--color-dark: #008159;
		--color-darker: #005c37;
		--color-next: #00a2f1;
	}
	98.75% {
		--color: #00a985;
		--color-light: #4ad1ab;
		--color-lighter: #77fad3;
		--color-dark: #008261;
		--color-darker: #005d3f;
		--color-next: #00a0f4;
	}
	100% {
		--color: #00a98e;
		--color-light: #4ad1b4;
		--color-lighter: #78fadc;
		--color-dark: #008269;
		--color-darker: #005d47;
		--color-next: #009ff7;
	}
}

:root {
	--color: #00a98e;
	--color-light: #4ad1b4;
	--color-lighter: #78fadc;
	--color-dark: #008269;
	--color-darker: #005d47;
	--color-next: #009ff7;
	animation: rainbow 40s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
	:root {
		animation: none !important;
	}
}
